<html>

<head>
    <title>IOT Pahana</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <script type="text/javascript">
    //Begining
        var picPathsB = ["{% static 'img/lamp/a1.jpg' %}","{% static 'img/lamp/a2.jpg' %}","{% static 'img/lamp/a3.jpg' %}","{% static 'img/lamp/a4.jpg' %}","{% static 'img/lamp/a5.jpg' %}","{% static 'img/lamp/a6.jpg' %}","{% static 'img/lamp/a7.jpg' %}","{% static 'img/lamp/a8.jpg' %}","{% static 'img/lamp/a9.jpg' %}","{% static 'img/lamp/a10.jpg' %}","{% static 'img/lamp/a11.jpg' %}"];
        var curPic = -1;
        //preload the images for smooth animation
        var imgO = new Array();
        for(i=0; i < picPathsB.length; i++) {
            imgO[i] = new Image();
            imgO[i].src = picPathsB[i];
        }

        function swapImageB() {
            
            curPic = (++curPic > picPathsB.length-1)? curPic : curPic;
            imgCont.src = imgO[curPic].src;
            setTimeout(swapImageB,500);
        }

        window.onload=function() {
            imgCont = document.getElementById('imgBannerB');
            swapImageB();
        }
    //Lamp1
        var picPaths1 = ["{% static 'img/lamp/f1.jpg' %}","{% static 'img/lamp/f2.jpg' %}","{% static 'img/lamp/f3.jpg' %}","{% static 'img/lamp/f4.jpg' %}","{% static 'img/lamp/f5.jpg' %}","{% static 'img/lamp/f6.jpg' %}"];
        var curPic1 = -1;
        //preload the images for smooth animation
        var img1 = new Array();
        for(i=0; i < picPaths1.length; i++) {
            img1[i] = new Image();
            img1[i].src = picPaths1[i];
        }

        function swapImage1() {
            
            curPic1 = (++curPic1 > picPaths1.length-1)? curPic1 : curPic1;
            imgCont1.src = img1[curPic1].src;
            setTimeout(swapImage1,500);
        }

        function f1() {
            imgCont1 = document.getElementById('imgBannerB');
            swapImage1();
        }

    </script>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'css/background.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type = "text/css"/>
</head>

<body class="backPic">

        
    <div class="container");>
        {% block content %}
        {% endblock %}
    </div>
 

</body>

</html>