{% extends 'base.html' %}


{% block content %}

{% load staticfiles %}

<div>
    <img id="imgBannerB" src="" alt="" height=100% width=100%/>
    <button id="lamp1" onClick="f1()"; style="opacity: 0; position: absolute; left: 48%; top: 79%;  cursor: hand;">Click</button>
    <button id="lamp2" onClick="f2()"; style="opacity: 0; position: absolute; left: 47%; top: 70%;  cursor: hand;">Click</button>
    <button id="lamp3" onClick="f3()"; style="opacity: 0; position: absolute; left: 47%; top: 79%;  cursor: hand;">Click</button>
    <button id="lamp4" onClick="f4()"; style="opacity: 0; position: absolute; left: 48%; top: 48%;  cursor: hand;">Click</button>
    <button id="lamp5" onClick="f5()"; style="opacity: 0; position: absolute; left: 48%; top: 60%;  cursor: hand;">Click</button>
    <button class="btn btn-warning" onclick="location.href='/menu/';"style="position: absolute; left: 25%; top: 75%">Back</button>
    <h1 style="position: absolute; left: 42%; top: 83%">Click Flames</h1>    
</div>


{% endblock %}