{% extends 'base.html' %}


{% block content %}

{% load staticfiles %}
    <div class="col-lg-6" style="top: 25%; left:60%;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <button id="L1" onclick="f1()" class="btn btn-warning"> Lamp 1 </button>
            <br />
            <br />
            <button id="L2" onclick="f2('Light-2')" class="btn btn-warning"> Lamp 2 </button>
            <br />
            <br />
            <button id="L3" onclick="f3('Light-3')" class="btn btn-warning"> Lamp 3 </button>
            <br />
            <br />
            <button id="L4" onclick="f4('Light-4')" class="btn btn-warning"> Lamp 4 </button>
            <br />
            <br />
            <button id="L5" onclick="f5('Light-5')" class="btn btn-warning"> Lamp 5 </button>
            <br />
            <br />
            <button class="btn btn-primary" onclick="location.href='/menu/';">Back</button>

    </div>

    <!--div class="col-lg-6">
        {% if status == "on" %}
        <img height="500px;" src="{% static 'img/on.JPG' %}" width="500px;">
        {% endif %}

        {% if status == "off" %}
        <img height="500px;" src="{% static 'img/off.JPG' %}" width="500px;">
        {% endif %}
    </div-->

</div>
{% endblock %}