<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-brand text-light">Trademarks (pvt) ltd.</div>
        <!-- below for mobile responsive design -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/add_trademark" routerLinkActive="active">Add Tradmark</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search_trademark" routerLinkActive="active">Search Trademark</a>
                </li>
            </ul>
        </div>
    </div>
</nav>